* {
  margin: 0;
  padding: 0;
}
body,
html {
  width: 100%;
  height: 100%;
  background-color: lightgray;
}
h1 {
  text-align: center;
  letter-spacing: 0.3rem;
  font-weight: 200;
  color: darkgreen;
  padding-top: 0.5em;
}
#nav-bar {
  display: flex;
  justify-content: flex-end;
}
.nav-links {
  display: flex;
  gap: 3.5em;
  padding: 1%;
  margin: 1%;
  background-color: transparent;
  padding-left: 90%;
}
.nav-links li {
  list-style: none;
  letter-spacing: 2px;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
}
.nav-links li:hover {
  text-decoration: line-through;
  cursor: pointer;
}
img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition-duration: 0.5s;
}

.photo-section {
  display: grid;
  grid-template-areas:
    "a b c"
    "d e f"
    "g h i"
    "j k k"
    "l k k";
  gap: 1em;
  padding: 1%;
  margin: 2%;
}
.image-a {
  grid-area: a;
}

.image-b {
  grid-area: b;
}
.image-c {
  grid-area: c;
}

.image-d {
  grid-area: d;
}

.image-e {
  grid-area: e;
}

.image-f {
  grid-area: f;
}
.image-h {
  grid-area: h;
}
.image-i {
  grid-area: i;
}
.image-j {
  grid-area: j;
}

.image-k {
  grid-area: k;
}
@media (max-width: 600px) {
  .photo-section {
    display: grid;
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e"
      "f"
      "g"
      "h"
      "i"
      "j"
      "k ";
    gap: 0.5em;
  }
  .nav-links {
    font-size: small;
    gap: 2em;
    padding: 1%;
    margin: 1%;
  }
  h1 {
    letter-spacing: 0.1em;
    padding-bottom: 0.3em;
  }
}
@media (max-width: 486px) {
  .nav-links {
    font-size: small;
    gap: 1em;
    padding: 1%;
    margin: 1%;
  }
  h1 {
    letter-spacing: normal;
    padding-bottom: 0.3em;
  }
}
